<header class="header">
  <aside class="head-title">
    <span class="material-icons-round menu"> menu </span>
    <span class="head-logo">
      <img src="../../assets/images/logo-removebg-preview.png" alt="" />
    </span>
  </aside>
  <aside class="head-inputs">
    <span class="form-group search-form">
      <span class="search-icon">
        <img src="../../assets/images/search@2x.png" alt="">
      </span>
      <input type="search" placeholder="Search for" />
    </span>
    <span class="sound">
      <img src="../../assets/images/speaker-svgrepo-com.svg" alt="" />
      <span>2</span>
    </span>
    <span class="notification">
      <img src="../../assets/images/notification-new.svg" alt="" />
      <span>4</span>
    </span>
    <span class="profile">
        <span class="profile-photo">
            <img src="../../assets/images/Rectangle 5@2x.png" alt="">
        </span>
        <ul>
            <li>
                <h4>John Lennon</h4>
            </li>
            <li>
                <h6>Super Power User</h6>
            </li>
        </ul>
        <span class="material-icons-round more">expand_more</span>
    </span>
  </aside>
</header>
