.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0rem 0.3rem 1.9rem #0000000f;
  padding: 1rem 1.5rem;
  // position: fixed;
  .head-title {
    display: flex;
    align-items: center;
    .menu {
      font-size: 2.2rem;
      padding: 0 2rem 0 1rem;
    }
    .head-logo {
      img {
        width: 13rem;
        height: 3rem;
      }
    }
  }

  .head-inputs {
    display: flex;
    align-items: center;
    gap: 1rem;
    .search-form {
      display: flex;
      position: relative;
      position: relative;
      .search-icon {
        position: absolute;
        top: 0.8rem;
        left: 1rem;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
      input {
        width: 28rem;
        height: 2.5rem;
        background-color: #f8f8f8;
        border-radius: 0.4rem;
        padding-left: 3rem;
      }
      ::placeholder {
        color: #a0a5b9;
        font-size: 0.9rem;
      }
    }
    .sound {
      border-radius: 0.4rem;
      padding: 0.6rem 0.6rem;
      background-color: #f8f8f8;
      position: relative;
      span {
        position: absolute;
        background-color: #ec0041;
        padding: 0.1rem 0.5em;
        border-radius: 50%;
        color: #ffffff;
        top: -0.3rem;
        right: -0.3rem;
      }
    }
    .notification {
      border-radius: 0.4rem;
      padding: 0.5rem 0.8rem;
      background-color: #f8f8f8;
      position: relative;

      span {
        position: absolute;
        background-color: #ec0041;
        padding: 0.1rem 0.5em;
        border-radius: 50%;
        color: #ffffff;
        top: -0.3rem;
        right: -0.3rem;
      }
    }
    .profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      .profile-photo {
        img {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
      ul {
        list-style: none;
        li {
          h4 {
            text-align: end;
            font-size: 1rem;
            font-weight: 700;
          }
          h6 {
            font-size: 0.9rem;
            font-weight: 400;
          }
        }
      }
      .more,
      ul li h6 {
        color: #a0a5b9;
      }
    }
  }
}
