<main>
    <nav class="sidenav">
        <ul>
            <li>
                <a href="#"><span class="material-icons-round">
                    dashboard
                    </span></a>
            </li>
            <li>
                <a href="#"><span class="material-icons-round">
                    person
                    </span></a>
            </li>
            <li>
                <a href="#"><span class="material-icons-round">
                    real_estate_agent
                    </span></a>
            </li>
            <li>
                <a href="#"><span class="material-symbols-outlined">person</span></a>
            </li>
            <li>
                <a href="#"><span class="material-symbols-outlined">forum</span></a>
            </li>
            

        </ul>
    </nav>
    <section class="body">

    </section>
</main>
